* {
	font-family: 'Lato', sans-serif;
}

h1.acronym, .full_name {
    text-align: center;
}

h1.acronym {
    font-size: 50px;
    margin-bottom: 0px;
    font-weight: 700;
    margin-top: 10px;
}

h2.full_name {
    margin-top: 10px;
    font-weight: 400;
}

.header {
    padding: 17px;
    color: white;
}

body {
    margin: 0;
}

div#description_paragraphs {
    padding: 20px;
    font-size: 17px;
    line-height: 1.5;
}

.AAST .header {
	background-color: #5FB371;
}

.ABF .header {
    background: #AD7C33;
}

.AMST .header {
    background: #B73636;
}

.AEDT .header {
    background: #123467;
}

.ACHA .header {
    background: #CA448E;
}

.AVPA-M .header {
    background: #C0A4E6;
}

.AVPA-T .header {
    background: #40026F;
}

.AVPA-V .header {
    background: #E47401;
}

.ATCS .header {
    background: #43BDA7;
}
