* {
	font-family: 'Lato', sans-serif;
	margin: 0;
}
::selection{
	background-color: #50A6C2;
	color: white;
}
#main h1{
	font-size: 90px;
	font-weight: 300;
}
li{
	list-style-type: none;
	font-size: 1.25em;
	font-weight: 300;
	padding-bottom: 1em;
	font-weight: 400;
}
a{
	text-decoration: none;
}
#main{
	margin: 0 auto;
	text-align: center;
	padding: 13em 10px;
}
.container{
	padding: 5em;
}
.container h2{
	font-size: 2em;
	font-weight: 500;
}
.elective{
	background-color: #39B7CD;
	color: white;
}
.list h1{
	padding-bottom: 1em;
}
.column-left{ 
	float: left; width: 33%; 
}
.column-right{ 
	float: right; width: 33%; 
}
.column-center{ 
	display: inline-block; width: 33%; 
}
.clubs{
	background-color: #AA1111;
	color: white;
}
.counseling{
	background-color: #800080;
	color: white;
}
.global-education{
	background-image: url("../images/ABFtrip-background.jpg");
	background-color: #90EE90;
	color: white;
	background-position: top center;
}
.projects{
	background-color: #0A7E8C;
	color: white;
}
.container p {
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.75em;
	padding-bottom: 1.5em;
}
.list{
	color: white;
	background-color: #FFBF00; 
	text-align: center;
	padding: 2em;
}



.owl-item img {
    height: 160px;
}