* {
	font-family: 'Lato', sans-serif;
	margin: 0;
}
::selection{
	background-color: #50A6C2;
	color: white;
}
#main h1{
	font-size: 90px;
	font-weight: 300;
}
li{
	list-style-type: none;
	font-size: 1.25em;
	font-weight: 300;
	padding-bottom: 1em;
}
a{
	text-decoration: none;
}
 
#main{
	margin: 0 auto;
	text-align: center;
	padding: 13em 10px;
	background-size: cover;
}
.container{
	padding: 5em;
	color: black;
}
.container h2{
	font-size: 2.65rem;
	font-weight: 500;
	padding-bottom: 10px;
}
.container h3{
	font-size: 2em;
	font-weight: 300;
	padding-bottom: .5em;
	padding-top: .5em;
}
.elective{
	background-image: url("../images/peprally.jpg");
	color: white;
	background-position: top center;
	background-size: auto 101vh;
}
.list h1{
	padding-bottom: 1em;
	font-size: 21px;
	color: #fbfbfb;
}
.column-left{ 
	float: left; width: 33%; 
}
.column-right{ 
	float: right; width: 33%; 
}
.column-center{ 
	display: inline-block; width: 33%; 
}
.col-first{
	float: right;
	width: 50%;
}
.col-last{
	float: right;
	width: 50%;
}

.clubs{
	background-image: url("../images/hackBCA.png");
	color: white;
	background-position: top center;
	background-size: cover;
}
.counseling{
	background-color: #800080;
	color: white;
}
.global-education{
	background-image: url("../images/ABFtrip-background.jpg");
	color: white;
	background-position: top center;
}
.projects{
	background-image: url("../images/makerspace.jpg");
	color: white;
	background-position: top center;
}
.research{
	background-image: url("../images/research2.JPG");
	color: white;
	background-position: top center;
	background-size: cover;
}
.sports{
	background-image: url("../images/girlsSoccer.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}

.senior-experience {
	background-image: url("../images/seniorexperience.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}

.container p {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.75em;
	padding-bottom: 1.5em;
}
.list{
	color: #d6c170;
	background-color: #353434;
	text-align: center;
	padding: 2em;
}

.owl-item img {
    height: 160px;
}

.elective h1 {
    font-size: 62px;
}

.container h1 {
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 700;
}

strong {
    font-weight: 400;
}