* {
	font-family: 'Lato', sans-serif;
	margin: 0;
}
::selection{
	background-color: #50A6C2;
	color: white;
}
#main h1{
	font-size: 90px;
	font-weight: 300;
}
main li{
	list-style-type: none;
	font-size: 1.25em;
	font-weight: 300;
	padding-bottom: 1em;
}
a{
	text-decoration: none;
}
 
#main{
	margin: 0 auto;
	text-align: center;
	padding: 13em 10px;
	background-size: cover;
}
.container{
	padding: 5em;
	color: black;
	padding-bottom: 0;
}
.container h2{
	font-size: 2.65rem;
	font-weight: 500;
	padding-bottom: 10px;
}
.container h3{
	font-size: 2em;
	font-weight: 300;
	padding-bottom: .5em;
	padding-top: .5em;
}
.elective{
	background-image: url("../images/peprally.jpg");
	color: white;
	background-position: top center;
	background-size: auto 101vh;
}
.list h1{
	padding-bottom: 1em;
	font-size: 21px;
	color: #fbfbfb;
}
.column-left{ 
	float: left; width: 33%; 
}
.column-right{ 
	float: right; width: 33%; 
}
.column-center{ 
	display: inline-block; width: 33%; 
}
#two-col{
	display: flex;
    justify-content: space-between;
}

.clubs{
	background-image: url("../images/hackBCA.png");
	color: white;
	background-position: top center;
	background-size: cover;
}
.counseling{
	background-image: url("../photos_2.0/counseling.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}
.global-education{
	background-image: url("../images/ABFtrip-background.jpg");
	color: white;
	background-position: top center;
}
.projects{
	background-image: url("../images/makerspace.jpg");
	color: white;
	background-position: top center;
}
.research{
	background-image: url("../images/research2.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}
.sports{
	background-image: url("../images/girlsSoccer.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}

.senior-experience {
	background-image: url("../images/seniorexperience.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}

.container p {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.75em;
	padding-bottom: 1.5em;
}
.list{
	color: #d6c170;
	background-color: #353434;
	text-align: center;
	padding: 2em;
}
.science{
	background-image: url("../photos_2.0/science.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}
.business{
	background-image: url("../photos_2.0/business.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}
.culinary{
	background-image: url("../photos_2.0/culinary.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}
.engineering{
	background-image: url("../photos_2.0/engineering.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}
.medical{
	background-image: url("../photos_2.0/medical.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}
.compsci{
	background-image: url("../photos_2.0/compsci.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}
.music{
	background-image: url("../photos_2.0/music.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}
.theater{
	background-image: url("../photos_2.0/theater.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}
.visual{
	background-image: url("../photos_2.0/visual.jpg");
	color: white;
	background-position: top center;
	background-size: cover;
}

.elective h1 {
    font-size: 62px;
}

.container h1 {
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 700;
}

strong {
    font-weight: 400;
}

#sport-info li {
    line-height: 1.35;
}


