.footer-column-1 {
    float: left;
    width: 50%;
    line-height: 1.65;
    text-align: center;
    font-size: 19px;
}

.footer-column-2 {
    float: right;
    width: 50%;
    padding-left: 140px;
}

.footer-column-2 h2 {
    font-weight: 500 !important;
    font-size: 24px;
}

footer a {
     color: #ca9a24;
     font-size: 18px;
     transition: color .3s;
}

footer a:hover {
    color: #ffd576;
}

footer#footer {
    color: #e4e4e4;
    padding-left: 14px;
    padding: 46px;
    background: url("../images/footer_background.jpg") no-repeat center 32% #242426;
    height: 349px;
    font-size: 21px;
    line-height: 1.35;
    background-size: cover;
}
