.footer-column-1 {
    float: left;
    width: 40%;
}

.footer-column-2 {
    float: right;
    width: 60%;
    padding-left: 60px;
}

.footer-column-2 h2 {
    font-weight: 500 !important;
    font-size: 24px;
}

.footer-column-2 a {
     color: #523c05;
     font-size: 18px;
}

footer#footer {
    color: #3a3a3a;
    padding-left: 14px;
    padding: 40px;
    background-color: #ffe066;
    height: 319px;
    font-size: 21px;
    line-height: 1.35;
}