* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


div#header {
    padding: 0px 2vw;
    background: #3366CC;
    height: 100vh;
    display: table;
    vertical-align: middle;
    width: 98vw;
    padding-right: 0;
    color: white;
}

div#header_left {
    width: 56vw;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: table-cell;
}

div#academies {
    float: right;
    width: 33vw;
    background: #3399FF;
    padding-left: 32px;
    padding-right: 0px;
    color: white;
    padding-bottom: 13px;
    height: 100vh;
}

body {
    margin: 0;
    background: #444546;
}

#academies h1 {
    margin-bottom: 0;
}

div#academies a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 2.3vh;
    padding-left: 2px;
    font-size: 3.5vh;
}

.fa {
    display: none;
    padding-right: 10px;
    font-size: 3.5vh;
}
#academies p {
    margin: 2px 0px;
}

div#academies_links {
    padding: 10px 25px;
    background: #FFFFFF;
    font-size: 18px;
}

div#program_descriptions {
    padding: 10px 25px;
    background: #161661;
    color: white;
    font-size: 18px;
}

.tg  {border-collapse:collapse;border-spacing:0;width: 100vw;text-align: center;}
.tg td{font-size: 19px;padding: 21px 0;border-width:1px;overflow:hidden;word-break:normal;vertical-align: middle;width: 25vw;color: white;transition: background 0.5s;}
.tg .tg-yw4l{vertical-align: middle;}


tr:nth-child(2) td:nth-child(even) {
    background: #004A79;
}



tr:nth-child(2) td:nth-child(odd):hover {
    background: #8AADCC;
}

tr:nth-child(1) td:nth-child(even):hover {
    background: #8AADCC;
}

tr:nth-child(2) td:nth-child(odd) {
    background: #447AA9;
}

tr:nth-child(1) td.tg-yw4l:nth-child(even),Ã‚Â  {
    background: #447AA9;
}

tr:nth-child(1) td:nth-child(odd) {
    background: #004A79;
}

tr:nth-child(1) td:nth-child(odd):hover {
    background: #002F4C;
}

tr:nth-child(2) td:nth-child(even):hover {
    background: #002F4C;
}


tr:nth-child(1) td:nth-child(even):hover {
    background: #8AADCC;
}


footer#footer {
    color: white;
    padding-left: 14px;
}