* {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
}


div#header {
    padding: 0px 2vw;
    background-image: url("../images/coverphoto.jpg");
    background-color: #ffffff;
    height: 100vh;
    display: table;
    vertical-align: middle;
    width: 100vw;
    padding-right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    color: #19BB9E;
}

div#header_left {
    width: 56vw;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: table-cell;
    color: white;
    font-size: 40px;
    line-height: 1.45;
}

div#academies {
    float: right;
    width: 33vw;
    background: #70ccac;
    padding-left: 32px;
    padding-right: 0px;
    color: white;
    padding-bottom: 13px;
    height: 100vh;
}

body {
    margin: 0;
    background: #ffffff;
}

#academies h1 {
    margin-bottom: 0;
    font-weight: 400;
}

div#academies a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 2.7vh;
    padding-left: 2px;
    font-size: 3.7vh;
}

.fa {
    display: none;
    padding-right: 10px;
    font-size: 3.5vh;
}
#academies p {
    margin: 2px 0px;
}

div#academies_links {
    padding: 10px 25px;
    background: #ffffff;
    font-size: 18px;
    border-top: 4px solid #ffffff;
    margin: 0 auto;
    line-height: 1.85;
    text-align: center;
}

div#program_descriptions {
    padding: 10px 25px;
    background: #1d1d1d;
    color: white;
    font-size: 18px;
    line-height: 1.4;
}

.tg  {border-collapse:collapse;border-spacing:0;width: 100vw;text-align: center;}
.tg .light, .tg .dark{font-size: 19px;padding: 21px 0;border-width:1px;overflow:hidden;word-break:normal;vertical-align: middle;width: 20vw;color: white;transition: all 0.2s;margin: 12px;}


.dark:hover,ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â .light:hover {
    background: #8accb8;
    box-shadow: 5px 6px 11px rgba(193, 193, 193, 0.46);
    position: relative;
}

.light:hover {
    box-shadow: 5px 6px 11px rgba(193, 193, 193, 0.46);
    position: relative;
    background: #005d4d;
}

.dark {
    background: #57d2b8;
}

.light {
    background: #268470;
}


footer#footer {
    color: #3a3a3a;
    padding-left: 14px;
    padding: 40px;
    background-color: #ffffca;
    height: 319px;
    font-size: 21px;
    line-height: 1.35;
}

.tg {
   display: table;
   border-collapse: collapse;
}
 
.tg .box-row {
}
 
.tg .light, .tg .dark {
   display: inline-block;
   vertical-align: middle;
}

div#opportunites {
    padding: 10px 0px;
}

hr {
    border: 0.5px solid black;
    margin: 0 auto;
    width: 96vw;
}

.unslider {
    width: 190px;
    margin: 0 auto;
}

a.unslider-arrow.prev {
    position: relative;
    left: 120px;
    display: none;
}

a.unslider-arrow.next {
    display: none;
    left: 1px;
}

.unslider-nav ol li {
    border: 2px solid black;
}

.unslider-nav ol li.unslider-active {
    background: black;
}

.cd-logo img {
    width: 24px;
}

div#academies_links p {
    width: 60vw;
    margin: 0 auto;
    padding: 16px;
}

.header-logo img {
    width: 38vh;
    margin: 21px;
}

